
* {
    /*box-sizing: border-box;*/
}

.editContainer {
    margin-top: -25px;
    width: 404px;
    height: 230px;
    background-color:lightgrey;
    border-style: none;
    border-radius: 10px;
}

.containerHeader {
    position: relative;
    font-size: 25px;
    padding: 5px;
    width: 400px;
    height: 55px;
    background-color: #a6a6a6;
    border-style: solid;
    border-color: grey;
    border-width: 3px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-left: -16px;
    margin-top: -54px;
}

.containerText{
    padding: 5px;
    font-size: 20px;
}

.containerTextPFP{
    padding: 7px;
    font-size: 20px;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    border-width: 1px;
}

.boxDetails{
    height: 25px;
    width: inherit;
    background-color: #a6a6a6;
    margin-left: 110px;
    margin-top: -25px;
}

.boxDetailsShort{
    width: inherit;
    height: 25px;
    background-color: #a6a6a6;
    margin-left: 135px;
    margin-top: -25px;
}

.boxDetailsDOB{
    height: 25px;
    width: 100px;
    background-color: #a6a6a6;
    margin-left: 50px;
    margin-top: -25px;
}

/*
.containerCenter {
    font-size: 25px;
    padding: 5px;
    width: 400px;
    height: 55px;
    background-color: #a6a6a6;
    border-style: solid;
    border-color: grey;
    border-width: 3px;
    border-left-style: none;
    border-right-style: none;
    margin-left: -16px
}
 */

.btnOnPage{
    background-color: lightgrey;
    border: 0;
    font-size: 20px;
}

.closeWindowBtnCont{
    font-size: 30px;
}

.closeWindowBtnEdit{
    /* radius is set for edit profile/profile settings */
    border-style: solid;
    background-color: #a6a6a6;
    border-top-right-radius: 11px;
    border-color: grey;
    border-width: 2px;
    height: 53px;
    width: 63px;
    font-size: 30px;
    text-align: center;
    margin-left: 210px;
    margin-top: -7px;
    position: absolute;
}