.accContainer{
    display: flex;
    background-color: #6EA07F;
}

.userinfo{
    margin-top: 45px;
    margin-left: 100px;
    height: 250px;
    width: 200px;
    padding: 10px;
    /*
    background-color: lightgray;
     */
    text-align: center;
}

.options{
    /*
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
     */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 45px;
    margin-left: 150px;
    height: 330px;
    width: 445px;
    padding: 10px;
    background-color: #5a856a;
}

.header-options{
    color: white;
    /*
    border-style: solid;
    border-color: #262626;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
     */
    border-width: 1px;
    background-color: #073f3e;
    height: 70px;
    width: 445px;
    font-size: 30px;
    text-align: center;
    padding: 10px; /* for text */
    margin-left: -10px; /* adjust for options padding */
    margin-top: -10px; /* adjust for options padding */
}

.optionstxt{
    font-size: 20px;
    padding: 8px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.adjust {
    margin-left: -200px;
    margin-top: 300px;
}

.infoboxes{
    margin-top: 55px;
    background-color: #cfcecc;
    /*
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
     */
    padding: 5px;
    height: 35px;
    width: 195px;
    margin-bottom: 60px;
}

.infoboxestxt{
    margin-top: -40px;
    margin-bottom: 15px;
    color: black;
}


