.accContainer{
    margin-left: 20px;
    margin-top: -30px;
    margin-bottom: 100px; /* extra scroll */
    display: flex;
    background-color: #6EA07F;
}
.accheader{
    margin-left: 100px; /* align text header */
}

.userinfo {
    margin-top: 45px;
    margin-left: 100px;
    height: 250px;
    width: 200px;
    padding: 10px;
    text-align: center;
}

.options{
    border-radius: 8px;
    margin-top: 45px;
    margin-left: 150px;
    height: 250px;
    width: 445px;
    padding: 10px;
    background-color: lightgrey; /* previous: #5a856a */
}

.header-options{
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-width: 1px;
    background-color: #5a856a; /* previous: #073f3e */
    height: 65px;
    width: 445px;
    font-size: 30px;
    text-align: center;
    padding: 10px; /* for text */
    margin-left: -10px; /* adjust for options padding */
    margin-top: -10px; /* adjust for options padding */
}

.optionstxt{
    font-size: 20px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.optionstxt:active {
    color:#5a856a;
}

.optionstxt:hover {
    color: #5a856a;
}

.adjust {
    margin-left: -200px;
    margin-top: 300px;
}

.infoboxes{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 5px;
    background-color: #cfcecc;
    padding: 5px;
    height: 35px;
    width: 185px;
}


.infoboxestxt{
    margin-top: -40px;
    margin-bottom: 15px;
    color: black;
}


