.trees {
    background-color: #699375;
    opacity: 80%;
    height: 400px;
    width: inherit;
}

.individual-tree {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
