

.search-input {
    background-color: inherit;
    color: white;
    border: none;
    padding-left: 1rem;
    outline: none;
}

.search-input::placeholder {
    color:white;
}

.search-button {
    background-color: inherit;
    border: none;
    color: white;
}

.search-title {
    text-align: center;
}

.search-icon {
    height:20px;
}
