.viewTrees {
    background-color: #6ea07f;
    height: 500px;
    width: inherit;
}

.individual-tree {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}